* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1; /*part of the global reset? to check*/
}

.carousel {
  width: 800px;
  background-color: #087f5b;
  margin: 100px auto; /*to center the elements in the viewport*/
  border-radius: 8px;
  padding: 32px 48px 32px 86px; /*to move the img to the left*/

  display: flex;
  align-items: center;
  gap: 86px;

  position: relative;
}

img {
  height: 200px;
  border-radius: 8px;
  transform: scale(1.5); /*for the img to become bigger than the element*/
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.25);
}

.testimonial-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 32px;
  color: #e6fcf5;
}
.testimonial-author {
  font-size: 14px;
  margin-bottom: 4px;
  color: #c3fae8;
}
.testimonial-job {
  font-size: 12px;
  color: #c3fae8;
}
.btn {
  background-color: #fff;
  border: none; /*to remove the default border of the button*/
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.btn--left {
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  /*to move the button where we want it to be*/
}

.btn--right {
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
}
.btn-icon {
  height: 24px;
  width: 24px;
  stroke: #087f5b;
}

.dots {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 32px);

  display: flex;
  gap: 12px;
}

.dot {
  height: 12px;
  width: 12px;
  background-color: #fff;
  border: 2px solid #087f5b;
  border-radius: 50%;
  cursor: pointer;
}

.dot--fill {
  background-color: #087f5b;
}
