* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1; /*part of the globa l reset? to check*/
  display: flex;
  justify-content: center;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 200px;
}

.btn {
  border: 1px solid #087f5b;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  background: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #087f5b;
}

/*for the arrow to become white when button is hovered. Otherwise the user needs to hover the arrow itself to become white*/
.btn:hover .btn-icon {
  stroke: #fff;
}
.btn-icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}
.page:link,
.page:visited {
  font-size: 18px;
  color: #343a40;
  text-decoration: none;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex; /*make it flex container for the content to be centered afterwards*/
  align-items: center;
  justify-content: center;
}

.page:hover,
.page:active,
.page.page--current /*applies only when an element contains both classes*/ {
  background-color: #087f5b;
  color: #fff;
}

.dots {
  color: #868e96;
}
